*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image:  url(Images/3339102.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.return{
    background-image: url(images/navigation.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-position-y: -100px;
}     
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;   
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

.Rav-links{
    flex: 1;
    text-align: right;   
}
.Rav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.Rav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.Rav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.Rav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: darkorange;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white
}
.text-box a{
    color: aqua;
    display: inline-block;
    text-decoration: none;
    border: 1px aqua solid;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.text-box a:hover{
    border: 1px solid black;
    background: black;
    transition: 1s;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
}
.Genre{
    width: 100%;
    margin: auto;
    text-align: center;
    /* padding-top: 100px; */
   
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color:gray;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    justify-content: space-between;
}


.Typesofanime-col{
flex-basis: 31%;
background: skyblue;
border-radius: 10px;
margin-bottom: 5%;
padding: 20px, 12px;
box-sizing: border-box;
transition: 0.5s;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.Typesofanime-col:hover{
    box-shadow: 0 0 20px 0 rgb(255, 1, 1);
}


.Manga{
    width: 100%;
    text-align: center;
    margin: auto;
    /* padding-top: 50px; */
}

.Manga-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.Manga-col img{
    width: 50%;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(226, 0, 0, 0.7);
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

.AnimeMerch{
    width: 100%;
    margin: auto;
    text-align: center;
    /* padding-top: 100px; */
}

.AnimeMerch-col img{
    width: 30%;
}

.AnimeMerch-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
}

.AnimeMerch-col p{
    padding: 0;
}

.AnimeMerch-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
}

.Contactus{
    width: 100%;
    text-align: center;
    margin: auto;
}

.background{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.background img{
    width: 30%;
}

.layer2{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;  
}

.layer2:hover{
    background: rgba(226, 0, 0, 0.7); 
}

.layer2 h3{
    /* padding-top: 50px;
    font-size: xx-large; */
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer2 h3:hover{
    bottom: 49%;
    opacity: 1;
}

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icon{
    cursor: pointer;
    margin: 0 13px;
    padding: 18px 0;
}